@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

.nav-item {
  margin: 5px;
}

.nav-link {
  font-size: 1rem;
  font-family: monospace;
  font-weight: bold;
  color: white;
}

.navbar-toggler {
  border-color: black;
}

.btn {
  width: 100px;
  color: white;
  background-color: rgba(252, 42, 5, 0.822);
  font-size: 1rem;
  font-weight: bold;
  font-family: monospace;
  border-radius: 4px;
}

.btn:hover {
  color: white;
}

.mod-btn {
  width: 80px;
  padding: 6px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  font-family: monospace;
  border-radius: 4px;
}

.hero-banner-section .wrapper {
  display: flex;
}

.wrapper .left,
.wrapper .right {
  max-width: 50%;
  width: 100%;
}

.image-container {
  position: relative;
  height: 0;
  padding-top: 100%;
}

.image-container img {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text h1 {
  font-family: monospace;
  margin-bottom: 4rem;
  font-size: 3rem;
  font-weight: 700;
}

.text strong {
  font-weight: bolder;
  font-family: "Lato", sans-serif;
  color: rgba(252, 42, 5, 0.822);
}

.text p {
  font-size: 1.3rem;
  font-family: monospace;
  opacity: 0.5;
}

.form {
  box-shadow: 5px 10px 18px #828a6e;
  outline: none;
  font-size: 1rem;
  font-family: monospace;
  opacity: 0.5;
  padding: 17px;
  border-color: rgb(248, 252, 252);
  max-width: 100%;
  width: 300px;
}

.button--submit {
  outline: none;
  padding: 15px;
  background-color: rgba(252, 42, 5, 0.822);
  border-color: rgba(252, 42, 5, 0.822);
  font-weight: bold;
  color: white;
  font-size: 1rem;
  font-family: monospace;
}

.button--submit:hover {
  background-color: rgba(241, 84, 56, 0.822);
}

@media screen and (max-width: 1024px) {
  .hero-banner-section .wrapper {
    flex-direction: column-reverse;
    width: 100%;
  }

  .hero-banner-section .wrapper .left,
  .hero-banner-section .wrapper .right {
    max-width: 100%;
  }

  .hero-banner-section .wrapper .left {
    padding-top: 40px;
  }
}
